<div class="tile is-parent is-3">
    <div class="tile is-child box has-text-centered">
        <p class="icon title is-1"><i class="fas fa-stream"></i></p>
        <p class="title is-4"><%= link_to stack.title, stack_path(stack) %></p>
        <p class="subtitle is-5 is-italic"><%= stack.cards.count %> cards</p>
    </div>
</div>

<% if (index+1) % 4 == 0 %>
    </div>
    <div class="tile is-ancestor">
<% elsif index == stacks.length-1 %>
    </div>
<% end %>