<section class="section">
    <div class="container columns is-centered">

        <div class="is-three-fourths">
            <h1 class="title is-1">Edit <%= @stack.title %></h1>

            <%= render "form"%>

        </div>

    </div>
</section>
