<section class="section">        
    <div class="container">
        <div class="level">
            <div class="level-left">
                <h1 class="title is-1 is-spaced">Stacks</h1>
            </div>
            <div class="level-right buttons">
                <%= link_to new_import_path, class: "button is-primary" do %>
                    <span class="icon">
                        <i class="fab fa-google-drive"></i>
                    </span>
                    <span>New from Google Drive</span>
                <% end %>

                <%= link_to new_stack_path, class: "button is-light has-text-primary" do %>
                    <span class="icon">
                        <i class="fas fa-plus-circle"></i>
                    </span>
                    <span>New Stack</span>
                <% end %>
            </div>
        </div>

        <div class="tile is-ancestor"> 
            <% @stacks.each_with_index do |stack, i| %>
                    <%= render partial:"stacks/stack", locals: {stacks: @stacks, stack: stack, index: i} %>
                <% end %>
            </div>
        </div>
    </div>
</section>