<section class="section">
    <div class="container columns is-centered">
        <div class="is-three-fourths">
            <h1 class="title is-1">Make a stack</h1>
            
            <%= render "form"%>

        </div>
    </div>
</section>

