<section class="section">
    <div class="container columns is-centered">

        <div class="is-one-third">

            <%= render partial: "layouts/errors", locals: {model_instance: @user} %>
            
            <%= render "form"%>

            <br>
            
            <%= button_to "Delete Account", @user, method: :delete, class: "button is-primary is-outlined"  %>

        </div>
</section>