<div class="columns is-centered">

    <div class="is-one-third">
        
        <%= render "form"%>

        <br>
        
        <%= button_to "Delete Account", @user, method: :delete, class: "button is-primary is-outlined"  %>

    </div>

</div>