<div class="columns is-centered">

    <div class="is-one-third">
    
        <h1 class="title is-1">Welcome, <%= @user.name %></h1>

        <%= button_to "Edit", edit_user_path(@user), method: "get", class: "button is-primary"%>

    </div>

</div>