<section class="hero is-fullheight-with-navbar">
    <div class="columns level hero-body">
            <div class="column">
                <h1 class="title is-1 is-centered">
                    Clean and simple flashcards,
                </h1>
                <p class="subtitle is-2 is-italic">
                    automatically.
                </p>
                <div class="buttons">
                    <%= link_to "Sign up", new_user_path, class: "button is-primary" %>
                    <%= link_to "Log in", login_path, class: "button is-light" %>
                </div>

            </div>

            <div class="column">
                <%= image_tag("illustrations/05.png") %>
            </div>
    </div>
</section>