<section class="hero is-fullheight-with-navbar">
    <div class="columns level hero-body">
            <div class="column">
                <h1 class="title is-1 is-centered">
                    Clean and simple flashcards,
                </h1>
                <p class="subtitle is-2 is-italic">
                    automatically.
                </p>
                <div class="buttons">
                    <%= link_to "Sign up", new_user_path, class: "button is-primary" %>
                    <%= link_to "Log in", login_path, class: "button is-light" %>
                </div>

            </div>

            <div class="column">
                <%= image_tag("illustrations/05.png") %>
            </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="notification">
                    <p class="is-size-5">
                        This is not important  
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="notification">
                    <p class="is-size-5">
                        So don't do it yet
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="notification">
                    <p class="is-size-5">
                        Do it later.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>