<section class="section">
    <div class="container columns is-centered">
        <div class="column is-half">
            <h1 class="title is-1">Edit <%= @card.front_content %></h1>
            
            <%= render "form"%>

        </div>

    </div>
</section>

