<footer class="footer">
    <div class="content has-text-centered">
        <p>
        <strong>CardTrick</strong> by <a href="https://jlrezac.com">Jess Rezac</a> for <a href="http://flatironschool.com">Flatiron School</a>. Illustrations by
        <a href="http://absurd.design">absurd.design</a>.
        </p>
    </div>
</footer>